html {
  background: #2d2d2d;

}

body {
  font-family: 'Roboto', sans-serif;
  color: #cfd2d6;
  text-transform: uppercase;
}

#content {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
  border: 1px solid #cfd2d6;
  border-radius: 3px;
  background: #2d2d2d;
  color: #cfd2d6;
}

.table {
  width: 80%;
  margin: 25px auto;
  color: #cfd2d6;

  thead, tbody, th, td {
    padding: 5px 10px;
   }
}

